# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Node.js
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# OS
Thumbs.db
.DS_Store

# Test
.pytest_cache/
.coverage
htmlcov/